:root{
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 20%);
    --clr-secondery-200: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --fw-accent: 'fraunces',serif;
    --ff-base: 'Motserrat',sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

html,
body{
    height: 100%;
}

body{
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select{
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6{
    overflow-wrap: break-word;
}

h1,h2,h3{
    line-height: 1;
}

body{
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-400);
    font-size: 0.875rem;
    background-color: var(--clr-secondery-200);

    display: grid;
    place-content: center;
    margin: 1rem;
}

.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.button{
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    border: 0;
    border-radius: 0.5rem;
    display: inline-flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
}

.button[data-icon="shopping-cart"]::before{
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;

}

.button:is(:hover, :focus){
    background-color: var(--clr-primary-500);
    
}

.product{
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}

.attribution{
    text-align: center;
    font-weight: 500;
}
.attribution a{
    text-decoration: none;
    color: rgb(60, 128, 103);
}
.attribution a:hover{
    cursor: pointer;
    color: rgb(144, 119, 77);
}

@media(min-width: 600px){
    .product{
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;

    }
}

.product--content{
    padding: var(--content-padding);
    display: grid;
    gap: var(--content-spacing);

}

.product--category{
    font-size: 0.8125rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.product--tittle{
    font-size: 2rem;
    font-family: var(--fw-accent);
    color: var(--clr-neutral-900);
}

.product--price{
    font-size: 2rem;
    font-family: var(--fw-accent);
    color: var(--clr-primary-400);
}

/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/

